/* Custom variables */
:root {
    --bg-primary: #f6f8f9;
    --bg-secondary: white;
    --btn-primary: #47adf1;
    --btn-outline: #c8cdd2;
    --tbl-blue: #45abea;
    --tbl-purple: #9c72e4;
    --tbl-green: #64c0a9;
    --tbl-orange: #f29d33;
    --tbl-pink: #d863a1;
    --tbl-lime: #b0c925;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;
    font-size: 16px;
}

header {
    background-color: var(--bg-secondary);
}

main {
    background-color: var(--bg-primary);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Utils */
.container {
    max-width: 70%;
    margin: 0 auto;
}

/* Main header */
.logo {
    vertical-align: middle;
    margin-left: 1.2rem;
    margin-top: .6rem;
    margin-bottom: .6rem;
}

.text-logo {
    font-size: 2.3rem;
    font-weight: 800;
    vertical-align: middle;
}

/* Card */
.card {
    border-radius: 5px;
    background-color: var(--bg-secondary);
}

/* Card header */
.card-header {
    padding: 1rem 3rem;
    border-bottom: 2px solid var(--bg-primary);
}

.btn {
    font-size: 14px;
    text-decoration: none;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
}

.btn-primary {
    color: var(--bg-secondary);
    background-color: var(--btn-primary);
}

.btn-outline {
    color: var(--btn-outline);
    background-color: var(--bg-secondary);
    border-color: var(--btn-outline);
}

/* Tasks */
.task-section {
    padding: 1rem 3rem;
    list-style-type: none;
}

.section-title {
    font-size: 1.2rem;
    font-weight: 900;
}

.task-item {
    line-height: 2.5rem;
}

.task-status {
    color: red;
    border: 1px solid currentColor;
    font-size: .7rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 1rem;
}

.task-done {
    color: var(--tbl-green);
}

.task-text {
    font-size: 1.1rem;
}

.task-badge {
    color: white;
    background-color: gray;
    font-size: .6rem;
    border-radius: 10px;
    padding: .3rem .6rem;
    vertical-align: middle;
}

/* Badge colors */
.bg-editorial {
    background-color: var(--tbl-blue);
}

.bg-goals {
    background-color: var(--tbl-purple);
}

.bg-recruiting {
    background-color: var(--tbl-green);
}

.bg-mobile {
    background-color: var(--tbl-orange);
}

.bg-website {
    background-color: var(--tbl-pink);
}

.bg-sales {
    background-color: var(--tbl-lime);
}
