/* Custom variables */
:root {
    --bg-primary: #f6f8f9;
    --bg-secondary: white;
    --btn-primary: #47adf1;
    --btn-outline: #c8cdd2;
    --tbl-blue: #45abea;
    --tbl-purple: #9c72e4;
    --tbl-green: #64c0a9;
    --tbl-orange: #f29d33;
    --tbl-pink: #d863a1;
    --tbl-lime: #b0c925;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;
    font-size: 16px;
    margin-top: .5rem;
}

header {
    background-color: var(--bg-secondary);
}

main {
    background-color: var(--bg-primary);
    padding-top: 30px;
}

/* Utils */
.container {
    max-width: 80%;
    margin: 0 auto;
}

/* Main header */
#logo {
    vertical-align: middle;
    padding-left: 1.2rem;
}

#text-logo {
    font-size: 2.3rem;
    font-weight: 800;
    vertical-align: middle;
}

/* Card */
.card {
    border-radius: 5px;
    background-color: var(--bg-secondary);
}

/* Card header */
.card-header {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--bg-primary);
}

.btn {
    font-size: 14px;
    text-decoration: none;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
}

.btn-primary {
    color: var(--bg-secondary);
    background-color: var(--btn-primary);
}

.btn-outline {
    color: var(--btn-outline);
    background-color: var(--bg-secondary);
    border-color: var(--btn-outline);
}